RewriteEngine on
RewriteCond $1 !^(bootstrap|dist|plugins|js|css|font-awesome|font-awesome-4.4.0|fonts|gambarevent|bower_components|slider|images|img)
RewriteRule ^(.*)$ index.php [L]
RewriteCond $1 !^(index.php|bootstrap|dist|plugins|js|css|font-awesome|font-awesome-4.4.0|fonts|gambarevent|bower_components|slider|images|img)
RewriteRule ^(.*)$ index.php/$1 [L]